img(src='/img/profile.png', class='profile')
div Jordan Santell, JavaScript engineer <a href="http://mozilla.org" title="Mozilla">@Mozilla</a>, creator of <a href="http://github.com/jsantell/dancer.js" title="dancer.js">dancer.js</a>, <a href="http://github.com/jsantell/poet" title="poet">poet</a> and <a href="http://github.com/jsantell/ogg.js" title="ogg.js">ogg.js</a>, Web Audio API nerd, metal head
div xoxo
