ul.social
  li
    a(href="http://twitter.com/jsantell", target="_new")
      i.icon-twitter
      span jordan santell on twitter
  li
    a(href="http://github.com/jsantell", target="_new")
      i.icon-github
      span jordan santell on github
  li
    a(href="http://www.linkedin.com/in/jsantell", target="_new")
      i.icon-linkedin
      span jordan santell on linkedin
  li
    a(href="https://plus.google.com/108461639765280344969", target="_new")
      i.icon-google-plus
      span jordan santell on google plus
  li
    a(href="mailto:j!s!an!tell AT gmail remove exclamations", class="email")
      i.icon-envelope-alt
      span email jordan santell
