extends layout

block content
  h1
    a(href='http://github.com/jsantell', title='Jordan Santell on GitHub') Open Source Projects

  h2 Popular Projects
  ul.projects
    li
      a(href='https://github.com/jsantell/dancer.js', title='dancer.js on github')
        .gh-watch
        .gh-fork
        h3 dancer.js
      span high-level audio API, designed to make sweet visualizations
    li
      a(href='https://github.com/jsantell/poet', title='poet on github')
        .gh-watch
        .gh-fork
        h3 poet
      span A node.js blog engine
    li
      a(href='https://github.com/jsantell/ogg.js', title='ogg.js on github')
        .gh-watch
        h3 ogg.js
      span ogg vorbis decoder in JavaScript 

  h2 Node Modules
  ul.projects
    li
      a(href='https://github.com/jsantell/node-request-extend', title='node-request-extend on github')
        .gh-watch
        h3 node-request-extend
      span Jumps in your middleware and extends route requests with references
    li
      a(href='https://github.com/jsantell/node-json-front-matter', title='node-json-front-matter on github')
        .gh-watch
        h3 node-json-front-matter
      span Extract JSON front matter from strings and files
    li
      a(href='https://github.com/jsantell/swag-mvc', title='swag-mvc on github')
        .gh-watch
        h3 swag-mvc
      span connecting your models and routes in node.js

  h2 Front-end javascripts
  ul.projects
    li
      a(href='https://github.com/jsantell/ImpactStorage', title='ImpactStorage on github')
        .gh-watch
        h3 ImpactStorage
      span Local Storage plugin for ImpactJS
    li
      a(href='https://github.com/jsantell/presentr', title='presentr on github')
        .gh-watch
        h3 presentr
      span jQuery Plugin for Presentations
    li
      a(href='https://github.com/weblinc/jquery-divider', title='jQuery Divider')
        .gh-watch
        h3 jquery-divider
      span A jQuery plugin for a sliding image divider
    li
      a(href='https://github.com/weblinc/jquery-parallax', title='jQuery Parallax')
        .gh-watch
        h3 jquery-parallax
      span Parallax jQuery plugin
    li
      a(href='https://github.com/weblinc/jquery-imageready', title='jQuery imageready')
        .gh-watch
        h3 jquery-imageready
      span A jQuery plugin for a bulk image load event
    li
      a(href='https://github.com/jsantell/jquery-twitch', title='jQuery Twitch')
        .gh-watch
        h3 jquery-twitch
      span jQuery plugin for making links dance anaglyph-style on hover
    li
      a(href='https://github.com/jsantell/jquery-gh-repo', title='jQuery GH Repo')
        .gh-watch
        h3 jquery-gh-repo
      span jQuery plugin for grabbing GitHub repo information (watchers, forks) and displaying them
    li
      a(href='https://github.com/weblinc/jquery-columnlist', title='jQuery Column List')
        .gh-watch
        h3 jquery-columnlist
      span jQuery plugin for splitting up uls into equal lists
    li
      a(href='https://github.com/weblinc/airbrake-notifier.js', title='Airbrake Notifier')
        .gh-watch
        h3 airbrake-notifier.js
      span Client-side error notifier for Airbrake/Hoptoad

  h2 Contributions
  ul.projects
    li
      a(href='https://github.com/HumbleSoftware/Flotr2', title='Flotr2')
        .gh-watch
        h3 Flotr2
      span Graphs and Charts for Canvas in JavaScript
    li
      a(href='https://github.com/HumbleSoftware/js-imagediff', title='js-imagediff')
        .gh-watch
        h3 js-imagediff
      span JavaScript / Canvas based image diff utility with Jasmine matchers for testing canvas
    li
      a(href='https://github.com/andrewplummer/Sugar', title='Sugar JS')
        .gh-watch
        h3 Sugar
      span A Javascript library for working with native objects
    li
      a(href='https://github.com/ofmlabs/aurora.js', title='Aurora.js')
        .gh-watch
        h3 aurora.js
      span Aurora.js is a framework that makes writing audio decoders in JavaScript easier
    li
      a(href='https://github.com/schaermu/node-fluent-ffmpeg', title='node-fluent-ffmpeg')
        .gh-watch
        h3 node-fluent-ffmpeg
      span A fluent API to FFMPEG
    li
      a(href='https://github.com/ListenerApproved/node-ffprobe', title='node-ffprobe')
        .gh-watch
        h3 node-ffprobe
      span A NodeJS wrapper around ffprobe
    li
      a(href='https://github.com/andris9/node-markdown', title='node-markdown')
        .gh-watch
        h3 node-markdown
      span Parse Markdown syntax with Node.JS
    li
      a(href='https://github.com/jxson/front-matter', title='node front-matter')
        .gh-watch
        h3 front-matter
      span Extract YAML front matter from strings

  h2 Fun Stuff
  ul.projects
    li
      a(href='http://github.com/jsantell/js1k-love', title='js1k entry')
        .gh-fill
        h3 js1k-love
      span js1k, love 2012
    li
      a(href='http://github.com/jsantell/AcidCupcakeColourScheme', title='VIM Acid Cupcake Colour Scheme')
        .gh-fill
        h3 AcidCupcakeColourScheme
      span A vibrant, dark and obnoxiously awesome colour scheme for vim
    li
      a(href='http://datavizchallenge.org/viz/76', title='Move My Taxes!')
        .gh-fill
        h3 Move My Taxes!
      span Data Viz Challenge '12 Entry
