html {
    margin: 0;
    padding: 0;
}
body {

#header {
    width: auto;
    height: 50px;
    margin: 0;
    padding: 0;
    padding: 10px;
    background-color: #222;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to (#222));
    background-image: -webkit-linear-gradient(top, #333, #222);
    background-image: -moz-linear-gradient(top, #333, #222);
    background-image: -ms-linear-gradient(top, #333, #222);
    background-image: -o-linear-gradient(top, #333, #222);
}

h1 {
    font-weight: 300;
    font-size: 36px;
    color: #ddd;
    text-transform: uppercase;
    margin: 0 0 0 20px;
    top: 5px;
    position: relative;
}

#header a {
    right: 20px;
    top: 10px;
    position: fixed; 
    color: #aaee22;
    font-size: 60px;
    float: right;
    text-decoration: none;
    text-shadow: 2px 2px 0 #ff0077, -2px -2px 0 #04DBE5;
    z-index: 100;
}

#header a span {
    display: none;
}
h1 span.hot {
    color: #ff0077;
}

h1 span.js {
    color: #04dbe5;
}

h2 {
    margin-left: 20px;
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
}
h2:after {
    float: left;
    margin-top: 3px;
    margin-right: 10px;
    content: 'category';
    text-indent: -9999px;
    width: 20px;
    height: 20px;
}

h2.frameworks:after { background-color: #ff0077; }
h2.plugins:after { background-color: #04dbe5; }
h2.funsies:after { background-color: #aaee22; }
h2.contributions:after { background-color: #FFB412; }

ul {
    padding-left: 0;
}

li {
    margin: 0 0 0 0;
    font-weight: 300;
    font-size: 24px;
    width: auto;
    padding-top: 10px;
    padding-left: 30px;
    height: 50px;
    background-color: #555;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to (#222));
    background-image: -webkit-linear-gradient(top, #333, #222);
    background-image: -moz-linear-gradient(top, #333, #222);
    background-image: -ms-linear-gradient(top, #333, #222);
    background-image: -o-linear-gradient(top, #333, #222);
    color: #aaa;
    list-style-type: none;
}

li a {
    float: left;
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ff0077, -1px -1px 0 #04DBE5;
}

li .desc {
    float: left;
    text-transform: lowercase;
    margin: 10px 0 0 20px;
    width: auto;
    height: 30px;
}

h3 {
    float: left;
    margin: 0;
    display: inline;
    position: relative;
    font-size: 30px;
    top: 7px;
}
.gh {
    position: relative;
    float: left;
    margin-right: 10px;
    width: 85px;
    height: 35px;
    border: 1px solid #333;
    box-shadow: 1px 1px 1px #111;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color:#666;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to (#555));
    background-image: -webkit-linear-gradient(top, #666, #555);
    background-image: -moz-linear-gradient(top, #666, #555);
    background-image: -ms-linear-gradient(top, #666, #555);
    background-image: -o-linear-gradient(top, #666, #555);
}

.gh i {
    position: absolute;
    top: 3px;
    left: 2px;
    color: #333;
    margin: 5px;
    font-size: 0.8em;
}

.gh span {
    position: absolute;
    left: 34px;
    top: 10px;
    text-align: center;
    display: block;
    font-size: 0.9em;
    width: 40px;
}

